
.catalogue-section__header{
  font-weight: $font-semibold;
  color: $dark-gray;
  position: relative;
padding-bottom: 20px;
  border-bottom: solid 1px #dbdbdb;
  font-size:18px;
  margin-bottom: 30px;


  @media (min-width: $l) {

    font-size:23px;
    &:after {
      top:53px;
    }
  }


  &:after {
    content: '';
    width: 40px;
    position: absolute;
    display: block;
    left: 0;
    top: 46px;
    border-bottom: 2px solid $orange;

    @media (max-width: $xxs) {

      top: 33px;
    }
  }
}

.catalogue-section__content{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media (max-width: $xxs) {

    justify-content:center;
  }
}

.catalogue-block{
  width:33%;
  margin-bottom: 50px;
  padding: 0 1%;

  @media (max-width: $xs) {

    width:48%;
    padding: 0 2%;
  }

  @media (max-width: $xxs) {
    margin-bottom: 25px;
    width:95%;
  }

  &__img{
    border: 1px solid $light-gray;
    img{
      width:100%;
    }
  }

  &__price{
    font-size: 14px;
    color: $gray;
    padding:10px 0 5px;
  }
}