.design-block {
  display: flex;

  &__img {
    width: 70%;
    position: relative;

    img{
      width:100%;
    }

  }
  &__bottom-descr{
    position: absolute;
    bottom: 0;
    color: $white;
    font-weight: $font-regular;
    height: 25%;
    padding-bottom: 20px;
    display: flex;
    align-items: flex-end;
    background-image: linear-gradient( bottom,  rgba(8, 4, 4, 0.9),  rgba(189, 15, 21 ,0.3) 40%, transparent );
  }
  &__nav-item {
    margin: 5px 0;
    text-align: center;

    &:hover{
      margin:5px -1px;
    }

  }
  &__nav {
    width: 30%;
    background-color: $orange;
    display: flex;
    align-items: center;

    ul {
      list-style: none;
      padding: 0;
      margin:0 ;
      width: 100%;
    }
  }



  &__nav-link {
    color: $white;
    padding:10px 40px;
    text-align: left;
    width: 100%;
    display: block;

    &.active, &:hover {
      color: $white;
      padding: 10px 60px;
      background-color: $dark-gray;
      text-decoration: none;
    }

  }

}


.right {
  .design-block__nav-item:hover{
    margin-left: -20px;
  }
}

.left {
  .design-block__nav-item:hover{
    margin-right: -20px;
  }
}