body {
  font-family: $font;
}

.content {
  margin-left: 265px;
  padding: 0 20px;

  @media (min-width: $xl) {
    padding: 0 70px;
    margin-left: 325px;
  }

  @media (max-width: $tablet) {
    margin-left: 0;
  }
}


.btn {
  background: $orange;
  color: $white;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  padding: 9px 18px;
  border-radius: 0;
  align-self: flex-end;
  margin: 0 5px 0 0;


  &:focus{
    outline: none;
  }
}
  .call-button{

  @media (max-width: $main-container) {
    order: 5;
  }
  @media (max-width: $hide-numbers) {
    order: 4;
  }


}

.logo {
  text-align: center;
  max-width: 250px;

  &__img {
    width: 96%;
  }

  @media (max-width: $xs) {
    max-width: 160px;
  }
}

h2.title {
  font-size: 24px;
  font-weight: $font-semibold;
  text-align: center;
  margin: 30px 0;
}