.production_time {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: $font-semibold;
}

.buttons-wrap {
  margin: 30px 0;
  .btn {
    margin-right: 35px;
  }
}

.descr-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;

  .characteristics {
    width: 58%;
    display: inline-block;

    &__table {
      height: 100%;
      tr {
        border-bottom: solid 1px $light-gray;
      }
      td:first-child {
        font-weight: $font-semibold;
        width: 40%;
        vertical-align: top;
        padding-top: 8px;
      }
    }
  }

  .benefits {
    width: 38%;
    display: inline-block;

    &__item {
      width: 100%;
      margin: 20px 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &-img {
        display: inline-flex;
        height: 100px;
        width: 100px;
        align-items: center;
        position: relative;
        justify-content: center;

        &:after {
          content: '';
          display: block;
          height: 70px;
          width: 70px;
          position: absolute;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          border: 2px solid #919191;
          z-index: 10;
        }
      }
      &-description {
        align-items: center;
        text-align: left;
        width: 70%;
        padding-left: 25px;
      }
    }
  }
}

.calc-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

  .calc-block {
    margin-bottom: 25px;

    &__header {
      position: relative;
      color: $dark-gray;
      font-size: 18px;
      font-weight: $font-semibold;
      padding: 15px 0 15px 55px;
    }

    &__content {
      padding-left: 55px;
    }
  }
  .orange_mark {
    color: $white;
    display: inline-block;
    position: absolute;
    left: 12px;

    &:before {
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      top: 1px;
      left: -7px;
      background-color: $orange;
      display: inline-block;
      transform: rotate(45deg);
      z-index: -1;
    }
  }
  .calculator {
    width: 55%;
    display: inline-block;
  }

  .calc_output {
    width: 45%;
    display: inline-block;
    background-color: $light-gray;
  }

  .custom-controls-stacked {

    display: flex;
    flex-wrap: wrap;

    .custom-control {
      float: none;
      width: 50%;
    }
  }

  .control-indicator {
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: solid 1px $gray;
    background-color: transparent;
  }

  .custom-radio .custom-control-input:checked ~ .control-indicator:after {
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: 0.20rem;
    left: 0.20rem;
    background-color: $orange;
    border-radius: 50%;
  }

  .cloth-choose-control-input {
    display: none;
  }
  .cloth-choose-indicator {
    display: inline-block;
    width: 130px;
    height: 46px;
    border: 2px solid transparent;

    &__img {
      width: 100%;
    }
  }
  .cloth-choose-control-input:checked ~ .cloth-choose-indicator{
    border: 2px solid $orange;
  }

  .manage-switch{
    position: relative;
    text-align: left;

    .switcher__circle{
      left:5px;
    }
    .switcher__left,.switcher__right{
      font-weight: $font-regular;
    }
    .switcher__left{
      position: relative;
    }

    .switcher__backgr:not(checked) + .switcher__circle:before{
      background-color: $light-gray;
    }
  }

  .mechanic_manage{
    margin-top: 30px;
  }
  .auto_manage{
    display: none;
  }
}