.lang-switch {
  position: relative;
  display: inline-block;
  top: 25px;

  &__backgr + label {
    cursor: pointer;
  }

  /* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
  Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
  в них все нижеследующие стили не сработают. */

  /* Прячем оригинальный чекбокс. */
  &__backgr:not(checked) {
    position: absolute;
    opacity: 0;
  }

  &__backgr:not(checked) + &__circle {
    position: relative; /* будем позиционировать псевдочекбокс относительно label */
    padding: 0 0 0 55px; /* оставляем слева от label место под псевдочекбокс */
  }
  /* Оформление первой части чекбокса в выключенном состоянии (фон). */
  &__backgr:not(checked) + &__circle:before {
    content: '';
    position: absolute;
    left: 0;
    top: -5px;
    width: 47px;
    height: 23px;
    border-radius: 20px;
    background: $grey;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
  }
  /* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
  &__backgr:not(checked) + &__circle:after {
    content: '';
    position: absolute;
    width: 17px;
    margin: 0px;
    top: -2px;
    left: 4px;
    height: 17px;
    border-radius: 15px;
    background: $orange;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
  }

  /* Сдвигаем переключатель чекбокса, когда он включен. */
  &__backgr:checked + &__circle:after {
    left: 26px;
  }


  &__ru, &__eng {
    display: inline-block;
    position: relative;
    font-weight: $font-semibold;
    font-size: 16px;
    top: 8px;
  }
  &__ru{
    position: absolute;
    left:-35px;
  }
  &__backgr:not(checked) ~ &__eng {
    color: $font_light-grey;

    &:after{
      content: '';
      display: block;
      width: 100%;
      position: absolute;
      bottom: 0px;
      border-bottom: dotted 2px $font_light-grey;
    }
  }

  &__backgr:not(checked) ~ &__ru {
    color: $dark-grey;

    &:after {
      display: none;
    }
  }

  &__backgr:checked ~ &__eng {
    color: $dark-grey;

    &:after {
      display: none;
    }
  }

  &__backgr:checked ~ &__ru {
    color: $font_light-grey;

    &:after{
      content: '';
      display: block;
      width: 100%;
      position: absolute;
      bottom: 0px;
      border-bottom: dotted 2px $font_light-grey;

    }
  }
}
