.justify {
  justify-content: space-between;
}

.no-margin {
  margin: 0;
}

.hide-numbers {
  @media (max-width: $hide-numbers) {
    display: none;
  }
}

.btn-small {
  @media (max-width: $xs) {
    width: auto;
    padding: 9px 10px;
  }
}

.hide-xxs {
  @media (max-width: 500px) {
    display: none;
  }
}

.menu-arrow {
  position: relative;

  &:after {
    content: ' ';
    position: absolute;
    background: url("../img/arrow.png") center no-repeat;
    width: 27px;
    height: 37px;
    right: 5px;
    top: 0;
    transform: rotate(0deg) ;
    transition: transform .3s ease;

  }

}
.down{

  &:after {
    transform: rotate(90deg) ;
    transition: transform .3s ease;
  }
}


.semibold{
  font-weight: $font-semibold;
}
.bold{
  font-weight:$font-bold;
}



.__gray{
  background-color:   $gray-bg;
  font-size: 0;
  margin: 0 -20px;
  padding-bottom: 25px;
  padding-top: 15px;
  margin-bottom: 30px;

  @media (min-width: $xl){
    margin: 0 -70px;
    margin-bottom: 30px;
    padding: 25px 70px;
  }

}


.__two-columns{

 li{
   width:50%;
   float: left;
   font-size: 12px;
 }
  @media (min-width: $l) {
    font-size: 14px;

  }
}