.justify{
  justify-content: space-between;
}
.no-margin{
  margin:0;
}

.hide-numbers{
  @media (max-width: $hide-numbers){
    display: none;
  }
}

.btn-small{
  @media (max-width: $xs){
    width: auto;
    padding: 9px 10px;
  }
}
.hide-xxs{
  @media (max-width: 500px) {
   display: none;
  }
}