.detail-news {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;

  @media (max-width: $xs) {
    justify-content: center;
    flex-wrap: wrap;
  }

  .slider {
    width: 45%;

    @media (max-width: $l) {
      width: 50%;
    }

    @media (max-width: $xs) {
      width: 100%;
    }
    @media (max-width: $xxs) {
      display: block;
    }
  }
}

.news-description {
  width: 50%;

  @media (max-width: $l) {
    width: 45%;

    &__title {
      font-size: 18px;
    }
    &__text {
      font-size: 14px;
      line-height: 22px;
    }
  }

  @media (max-width: $xs) {
    width: 100%;
    margin-bottom: 20px;
  }

  &__date {
    font-size: 14px;
    color: $gray;
    margin-bottom: 15px;
  }
  &__title {
    font-size: 20px;
    color: $dark-gray;
    font-weight: $font-semibold;
    margin-bottom: 25px;
  }
  &__text {
    font-size: 16px;
    color: $dark-gray;
    line-height: 28px;
  }
}

.news-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $l) {
    justify-content: space-around;
  }

  @media (max-width: $xxs) {
    justify-content: center;
  }
}

.last-news {
  font-weight: $font-semibold;
  font-size: 18px;
  margin: 15px 0 30px;
}

.news-block {
  width: 49%;
  display: flex;

  justify-content: center;
  margin-bottom: 20px;

  @media (min-width: $l) {
    width: 45%;
    margin-bottom: 85px;
  }

  @media (max-width: $xs) {

    width: 45%;
    flex-wrap: wrap;
    align-content: flex-start;

  }

  @media (max-width: $xxs) {
    width: 75%;
  }

  &__img {
    width: 43%;
    display: inline-block;
    position: relative;

    @media (min-width: $l) {
      width: 33%;
    }

    img {
      width: 100%;
      height: 100%;
    }

    @media (max-width: $xs) {
      width: 100%;
      height: auto;
    }

  }

  &__outer {
    width: 65%;
    display: inline-block;
    background-color: $light-gray;
    padding: 15px;
    padding-left: 0;

    @media (max-width: $xs) {
      width: 100%;
      padding: 15px;
      padding-top: 0;
    }
  }

  &__descr {
    background-color: $white;
    padding: 10px 15px 10px 25px;
    height: 100%;
  }

  &__descr-date {
    color: $gray;
    font-size: 12px;
    text-align: left;



    @media (min-width: $tablet) {
      font-size: 1vw;
    }
    @media (min-width: $l) {
      font-size: 14px;
    }
  }

  &__descr-text {
    font-size: 1.1vw;
    color: $dark-gray;
    //text-decoration: underline;

    &:hover {
      text-decoration: none;
      color: $dark-gray;
    }

    @media (min-width: $l) {
      font-size: 16px;
    }

    @media (min-width: $xs) and (max-width: $tablet) {
      font-size: 1.4vw;
    }
    @media (max-width: $xs) {
      font-size: 14px;
    }
  }
}

.sticker {
  display: inline-block;
  position: absolute;
  text-align: center;
  width: 35px;
  height: 35px;
  right: -17px;
  top: 38%;
  border-radius: 50%;
  background-color: $orange;

  @media (min-width: $l) {
    width: 45px;
    height: 45px;
    right: -23px;
    top: 38%;

    &.-video, &.-photo, &.-text {
      &:after {
        font-family: $font-awesome;
        color: $white;
        position: relative;
        top: 9px;
        font-size: 19px;
      }
    }

  }

  @media (max-width: $xs) {
    top: 93%;
    right: 5%;
  }

  &.-video, &.-photo, &.-text {
    &:after {
      font-family: $font-awesome;
      color: $white;
      position: relative;
      top: 5px;
    }
  }
  &.-video {
    &:after {
      content: '\f04b';
    }
  }
  &.-photo {
    &:after {
      content: '\f030';
    }
  }
  &.-text {
    &:after {
      content: '\f0f6';
    }
  }
}












