
.orange-block-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.orange-block{
  width:49%;
  position: relative;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: $l) {
    width: 24%;
  }

  @media (max-width: $xxs) {
    width: 100%;
  }



  &__img{
    width:100%;
    display: block;

    &:before{
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-color: $orange;
      opacity: 0.4;
    }
  }

  &__filter{
    width:100%;
    display: block;
    height: 100%;
    position: absolute;
    background-color: $orange;
    opacity: 0.7;

    &:hover{
      opacity: 0.4;
    }
  }


  &__title{
    position: absolute;
    top: 45%;
    width:100%;

    span {
      font-size: 21px;
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      color: $white;

      @media (min-width: $l) {
        font-size: 1.2vw;
      }

      @media (max-width: $xs) {
        font-size: 3vw;
      }
      @media (max-width: $xxs) {
        font-size: 3.9vw;
      }

      &:after {
        content: '';
        width: 100%;
        display: inline-block;
        position: relative;
        top:-23px;
        @media (max-width: $xs) {
          top:-15px;
        }
        border-bottom: 1px solid $white;


      }
    }


  }
}