
.search-form {
  position: relative;
  margin-top: 10px;
  margin-bottom: 5px;

  &:before {
    content: "\f002";
    font-family: $font-awesome;
    position: absolute;
    left: 32px;
    top: 0;
    font-size: 18px;
    color: $gray;
  }

  &__input {
    padding-left: 65px;
    width: 100%;
    border: none;
    height: 25px;


    &:active, &:focus {
      outline: none;
    }

  }
}
