
.input-search{
  position: relative;
  margin-top:10px;
  margin-left: 25px;

    &:before {
      content:  "\f002";
      font-family: $font-awesome;
      position: absolute;
      left: 8px;
      top: 2px;
      font-size: 18px;
      color: $gray;
    }
    &__item{
      margin-left: 50px;
      width: auto;
      border:none;
      height: 25px;
      &:active,&:focus{
        outline: none;
      }
    }
  }
