.side-menu{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  z-index: 101;
  width: 80px;
  background: #fff;
  -webkit-transform: translate3d(0,0,0);
  transition: width .3s ease;
  -moz-transition: width .3s ease;
  -webkit-transition: width .3s ease;
  width: 260px;
    .side-menu-top{
      padding:20px;
      .logo{
        text-align: center;
      }

    }
  @media (max-width: $tablet) {
    display: none;
  }
}


.side-menu-items{
  list-style: none;
  padding:0;
}