.side-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  margin-left: 3px;
  //box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  z-index: 101;
  background: #fff;
  transform: translateX(0px);
  width: 260px;
  transition: transform 0.3s ease;

  @media (min-width: $xl){
    width: 320px;
  }

  @media (max-width: $tablet) {
    transform: translateX(-275px);
  }



  &.opened {
    transform: translateX(0);

    .logo {
      text-align: left;
      padding-left: 30px;
      margin-bottom: 15px;

      img {
        width: 120px;
      }
    }
    .side-menu-top>.close {
      display: block;
    }

    .side-menu-items {
      padding-top: 100px;

      @media (max-width: $xs) {
        &__full {
          display: block;
        }

      }
    }

  }

  &.small-view{
    transform: translateX(-230px);
  }
}

.side-menu-top {
  padding: 20px 5px 10px 5px;
  position: absolute;
  width: 100%;
  z-index: 101;

  .logo {
    text-align: center;
    margin-bottom: 30px;
  }

}


.side-menu-items {
  list-style: none;
  padding: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  padding-top: 150px;

  &:after{
    content: '';
    position: absolute;
    width: 18px;
    left: 100%;
    bottom: 0;
    top: 0;
    background: url(../img/menu-shadow.png) 0 0 repeat-y;
    display: block;
    outline: none;
    border: none;
  }


  &__full, &__catalog {
    width: 100%;
    padding: 0;
  }
  &__catalog {
    display: block;

    .active{
      background-color: $gray;
      border-left: solid 3px $orange;
      padding-left: 32px;
      font-weight: $font-regular;
      a {
        color: $white;
      }
    }

  }
  &__full {
    display: none;
  }

  &__item {
    height: 38px;
    width: 100%;
    display: flex;
    text-align: left;
    padding-left: 35px;
    align-items: center;
    margin-bottom: 5px;

    &:hover {
      background-color: $gray;
      border-left: solid 3px $orange;
      padding-left: 32px;
      font-weight: $font-regular;

      a {
        color: $white;
      }
    }

    a {
      font-size: 16px;
      text-decoration: none;
      color: $dark-gray;
    }
  }
}
.side-menu-items__full{
  .side-menu-items__catalog{

    display: none;
    padding-left: 20px;

      a{
        font-size: 15px;
      }


  }
}


.close {
  position: absolute;
  z-index: 150;
  top: 0;
  right: 0px;
  display: none;
  width: 30px;
  height: 30px;
  background: url("../img/close.png") center no-repeat;
  line-height: 30px;
  text-align: center;
  font-size: 26px;
  cursor: pointer;
  //transition: 0.2s;

  transform: rotate(90deg);
  transition: transform 400ms ease;

  &:hover{
    transform: rotate(-180deg);
    transition: transform 400ms ease;
  }
  //&:after {
  //  content: '\f2d3';
  //  font-family: FontAwesome;
  //
  //}
}


.portfolio-link {
  width: 100%;
  background-color: $gray;
  height: 65px;
  position: absolute;
  bottom: 0;
  left:0;
  display: flex;
  align-items: center;
  margin-bottom: 0;

  a {
    color: $white;
  }
  &:hover {
    border: none;
    padding-left: 35px;
  }

  @media (max-width: $xs) {
    height:45px;

  }
}