.side-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  margin-left: 3px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  z-index: 101;
  background: #fff;
  transform: translateX(0);
  width: 260px;
  transition: transform 0.3s ease;

  @media (max-width: $tablet) {
    transform: translateX(-265px);
  }

  &.opened {
    transform: translateX(0);
    .logo {
      text-align: left;
      img {
        width: 120px;
      }
    }
    .close {
      display: block;
    }
    .logo {
      padding-left: 30px;
    }
    .side-menu-items {
      padding-top: 100px;

      @media (max-width: $xs) {
        &__full {
          display: block;
        }

      }
    }

  }
}

.side-menu-top {
  padding: 20px 5px 10px 5px;
  position: absolute;
  width: 100%;
  z-index: 1;

  .logo {
    text-align: center;
  }
  .close {
    position: absolute;
    z-index: 20;
    top: 0;
    right: 0;
    display: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 26px;
    cursor: pointer;
    transition: 0.2s;
    &:after {
      content: '\f2d3';
      font-family: FontAwesome;
    }
  }
}

.side-menu-items {
  list-style: none;
  padding: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  padding-top: 130px;

  &__full, &__catalog {
    width: 100%;
    padding: 0;
  }
  &__catalog {
    display: block;
  }
  &__full {
    display: none;
  }

  &__item {
    height: 38px;
    width: 100%;
    display: flex;
    text-align: left;
    padding-left: 35px;
    align-items: center;
    margin-bottom: 5px;

    &:hover {
      background-color: $grey;
      border-left: solid 3px $orange;
      padding-left: 32px;
      font-weight: $font-regular;

      a {
        color: $white;
      }
    }

    a {
      font-size: 16px;
      text-decoration: none;
      color: $dark-grey;
    }
  }
}
.side-menu-items__full{
  .side-menu-items__catalog{

    display: none;
    padding-left: 20px;

      a{
        font-size: 15px;
      }
  }
}