.tabs{
  text-align: center;
  margin-bottom: 25px;
  display: block;

  &__item{
    display: inline-block;
    width: 220px;
  }
  &__link{
    font-weight: $font-semibold;
  }
}


.nav-tabs.tabs{
  .nav-item{
    float: none;
    text-align: center;
    padding: 5px 5px 0;
  }

  .nav-link{
    position: relative;
    border:none;
    display: inline-block;
    padding: 0 ;
    padding-bottom: 20px;
    color: $dark-gray;

    &.active,&.active:focus,&.active:hover{
      background-color: transparent;
      color: $dark-gray;

      &:after{
          content:'';
          width: 40px;
          position: absolute;
          display: block;
          left:0;
          top:42px;
          border-bottom: 2px solid $orange;

        @media (max-width:$xxs){

          top: 33px;
        }
        }
      }
    }
  }
