$orange: #ff5816;
$gray: #919191;
$ultra-light-grey:#F4F3F2;
$light-gray: #dbdbdb;
$font_light-gray: #a5a5a7; //#d1d2d4;
$dark-gray: #3d3d3d;
$white: #fff;
$red: #b20800;



$main-container: 1170px;


$xxl: 1900px;
$xl: 1500px;
$l: 1400px;

$tablet: 1070px;
$hide-numbers: 935px;
$xs: 767px;
$xxs: 480px;