<section class="catalog">
    <div class="section-header">
        <div class="section-header__title">
            Каталог
        </div>
        <div class="section-header__hr"></div>
        <div class="section-header__img">
            <i class="fa fa-book" aria-hidden="true"></i>
        </div>
        <div class="section-header__hr"></div>
    </div>

    <div class="wrapper">
        <div class="catalog-block">
            <img class="catalog-block__img" src="img/catalog1.jpg" alt="">
            <div class="catalog-block__info">
                <div class="catalog-block__price">
                    от 50 000 руб.
                </div>
                <a class="catalog-block__link" href="">
                    Прямые маркизы <span class="semibold">Calypso</span>
                </a>
            </div>
        </div>
        <div class="catalog-block">
            <img class="catalog-block__img" src="img/catalog2.jpg" alt="">
            <div class="catalog-block__info">
                <div class="catalog-block__price">
                    от 150 000 руб.
                </div>
                <a class="catalog-block__link" href="">
                    Корзинные маркизы <span class="semibold">Sienna</span>
                </a>
            </div>
        </div>
        <div class="catalog-block">
            <img class="catalog-block__img" src="img/catalog3.jpg" alt="">
            <div class="catalog-block__info">
                <div class="catalog-block__price">
                    от 10 000 руб.
                </div>
                <a class="catalog-block__link" href="">
                    Вертикальные маркизы
                    <span class="semibold">Calypso Wind</span>
                </a>
            </div>
        </div>
        <div class="catalog-block "><img class="catalog-block__img" src="img/catalog4.jpg" alt="">
            <div class="catalog-block__info">
                <div class="catalog-block__price">
                    от 20 000 руб.
                </div>
                <a class="catalog-block__link" href="">
                    Кассетные маркизы <span class="semibold">Riva, Como</span>
                </a>
            </div>
        </div>
        <div class="catalog-block "><img class="catalog-block__img" src="img/catalog5.jpg" alt="">
            <div class="catalog-block__info">
                <div class="catalog-block__price">
                    от 120 000 руб.
                </div>
                <a class="catalog-block__link" href="">
                    Террасные маркизы <span class="semibold">Pergola</span>
                </a>
            </div>
        </div>
        <div class="catalog-block "><img class="catalog-block__img" src="img/catalog6.jpg" alt="">
            <div class="catalog-block__info">
                <div class="catalog-block__price">
                    от 500 000 руб.
                </div>
                <a class="catalog-block__link" href="">
                    Локтевые выдвижные маркизы
                    <span class="semibold">Ventura Premium</span>
                </a>
            </div>
        </div>
    </div>
</section>
