<section class="why-are-choosen">
    <div class="section-header">
        <div class="section-header__title">
            Почему выбирают нас
        </div>
        <div class="section-header__hr"></div>
        <div class="section-header__img">
            <i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <div class="section-header__hr"></div>
    </div>
    <div class="benefit-wrap">
        <div class="benefit">
            <div class="benefit-img"><img src="../img/benefit1.png" alt=""></div>
            <div class="benefit__descr">
                <div class="bold">
                    Сборка на собственном заводе
                </div>
                Индивидуальныя маркиза быстро

            </div>
        </div>
        <div class="benefit">
            <div class="benefit-img"><img src="../img/benefit2.png" alt=""></div>
            <div class="benefit__descr">
                <div class="bold">
                    Доставка по всей стране
                </div>
                Самое большое портфолио на рынке


            </div>
        </div>

        <div class="benefit">
            <div class="benefit-img"><img src="../img/benefit3.png" alt=""></div>
            <div class="benefit__descr">
                <div class="bold">
                    Лучшие цены от
                    крупнейшего производителя
                </div>
                Бесплатный дизайн
            </div>
        </div>
        <div class="benefit">
            <div class="benefit-img"><img src="../img/benefit4.png" alt=""></div>
            <div class="benefit__descr">
                <div class="bold">
                    Традиции качества с 1869 года
                </div>
                Передовые модели из Европы для России

            </div>
        </div>
    </div>
</section>