

</div>

<!-- FOOTER -->

<footer>
    <nav>
        <ul class="navigation justify">
            <li class="navigation__item"><a href="catalogue.html">Каталог </a></li>
            <li class="navigation__item"><a href="about.html">О компании </a></li>
            <li class="navigation__item"><a href=""> Оплата и доставка </a></li>
            <li class="navigation__item"><a href="">Услуги </a></li>
            <li class="navigation__item"><a href="decisions.html">Решения </a></li>
            <li class="navigation__item"><a href="">Портфолио </a></li>
        </ul>
    </nav>


    <div class="row footer-block-wrapper no-margin">
        <div class="footer-block">
            <div class="footer-block__header ">Контакты</div>
            <div class="area">
                <span class="area__bold">(800) 555-98-77 -</span> Россия
            </div>
            <div class="area">
                <span class="area__bold">(812) 572-44-44 -</span> Санкт-Петербург
            </div>
            <div class="area">
                <span class="area__bold"> (495) 983-58-58 -</span> Москва
            </div>
            <a href="#" class="call-button btn btn-small" data-toggle="modal" data-target=".callback-modal">
                Заказать звонок
            </a>
        </div>
        <div class="footer-block wrapper">
            <div class="footer-block ">
                <div class="footer-block__header">Ищите нас в соц. сетях</div>
                <div class="socials-wrap">
                    <a class="socials" href="">
                        <span class="socials__vk"></span>
                    </a>
                    <a class="socials" href="">
                        <span class="socials__f"></span>
                    </a>
                    <a class="socials" href="">
                        <span class="socials__tw"></span>
                    </a>
                </div>

            </div>
            <div class="footer-block ">
                <div class="footer-block__header">Режим работы</div>
                <div class="work-time">
                    С 9.00 до 18.00
                </div>

            </div>
        </div>
    </div>
    <div class="logo">
        <a href="index.html">
            <img class="logo__img" src="img/logo.png" alt="">
        </a>
    </div>
</footer>

</main>