<main class="content">
    <!-- HEADER -->
    <header class="header">
        <div class="area">
            <div class="bars hidden-lg-up">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            <div class="logo">
                <a href="index.html">
                    <img class="logo__img" src="../img/logo.png" alt="">
                </a>
            </div>
        </div>
        <div class="area hide-xxs">
            <span class="area__bold ">(800) 555-98-77 -</span> Россия
        </div>
        <div class="area hide-numbers">
            <span class="area__bold ">(812) 572-44-44 -</span> Санкт-Петербург
        </div>
        <div class="area hide-numbers">
            <span class="area__bold "> (495) 983-58-58 -</span> Москва
        </div>

        <div class="call-button btn btn-small">
            <span class="hidden-sm-down">Заказать звонок</span>
            <i class="fa fa-phone hidden-md-up" aria-hidden="true"></i>
        </div>


        <div class="flag hidden-sm-down">
            Производство маркиз и летних кафе на заказ
        </div>

        <div class="lang-switch hidden-sm-down">
            <input type="checkbox" name="langswitch" class="lang-switch__backgr" id="lang-switch"/>
            <label class="lang-switch__circle" for="lang-switch"></label>
            <div class="lang-switch__ru">RU</div>
            <div class="lang-switch__eng">EN</div>
        </div>
    </header>

    @@include('navigation-top.html')