<main class="content">
    <!-- HEADER -->
    <header class="header">
                <div class="area">
                    <span class="area__bold">(800) 555-98-77 -</span> Россия
                </div>
                <div class="area">
                     <span class="area__bold">(812) 572-44-44 -</span> Санкт-Петербург
                </div>
                <div class="area">
                    <span class="area__bold"> (495) 983-58-58 -</span> Москва
                </div>

                <div class="call-button">
                    Заказать звонок
                </div>


                <div class="flag">
                    Производство маркиз и летних кафе на заказ
                </div>

                <div class="lang-switch">

                    <input type="checkbox" name="langswitch" class="lang-switch__backgr" id="lang-switch" />
                    <label class="lang-switch__circle" for="lang-switch"></label>
                    <div class="lang-switch__ru">RU</div>
                    <div class="lang-switch__eng">EN</div>
                </div>
    </header>
    <nav>
        <ul class="navigation">
            <li class="navigation__item"><a href="">Каталог </a></li>
            <li class="navigation__item"><a href="">О компании </a></li>
            <li class="navigation__item"><a href="">Услуги </a></li>
            <li class="navigation__item"><a href="">Замер и монтаж</a></li>
            <li class="navigation__item"><a href="">Контакты</a></li>
            <li class="navigation__item"><a href="">Вход</a></li>
        </ul>
    </nav>
