<section class="how-we-do-it">
    <div class="section-header">
        <div class="section-header__title">
            Как мы изготовим вашу маркизу
        </div>
        <div class="section-header__hr"></div>
        <div class="section-header__img">
            <i class="fa fa-cog" aria-hidden="true"></i>
        </div>
        <div class="section-header__hr"></div>
    </div>
<div class="orange-block-wrap">
    <div class="orange-block">
        <a href="">
            <div class="orange-block__filter"></div>
            <img src="../img/consultation.jpg" alt="" class="orange-block__img consultation">
            <div class="orange-block__title"> консультация и дизайн</div>

        </a>
    </div>
    <div class="orange-block">
        <a href="">
            <div class="orange-block__filter"></div>
            <img src="../img/production.jpg" alt="" class="orange-block__img production">
            <div class="orange-block__title">производство</div>

        </a>
    </div>
    <div class="orange-block">
        <a href="">
            <div class="orange-block__filter"></div>
            <img src="../img/delivery.jpg" alt="" class="orange-block__img delivery">
            <div class="orange-block__title">доставка и монтаж</div>

        </a>

    </div>
    <div class="orange-block">
        <a href="">
            <div class="orange-block__filter"></div>
            <img src="../img/service.jpg" alt="" class="orange-block__img service">
            <div class="orange-block__title">гарантия и сервис</div>
        </a>
    </div>
</div>
</section>