<nav>
    <ul class="navigation hidden-sm-down top">
        <li class="navigation__item"><a href="catalogue.html">Каталог </a></li>
        <li class="navigation__item"><a href="about.html">О компании </a></li>
        <li class="navigation__item"><a href="service.html">Услуги </a></li>
        <li class="navigation__item"><a href="">Замер и монтаж</a></li>
        <li class="navigation__item"><a href="contacts.html">Контакты</a></li>
        <li class="navigation__item"><a href="#"  data-toggle="modal" data-target=".login-popup">Вход</a></li>
    </ul>
</nav>

