<section class="our-clients">
    <div class="section-header">
        <div class="section-header__title">
            Наши клиенты
        </div>
        <div class="section-header__hr"></div>
        <div class="section-header__img">
            <i class="fa fa-users" aria-hidden="true"></i>
        </div>
        <div class="section-header__hr"></div>
    </div>
    <div class="client-slider owl-carousel">
        <div class="client-logo item"><img class="client-logo__img" src="../img/choco.png" alt=""></div>
        <div class="client-logo item "><img class="client-logo__img" src="../img/ginza.png" alt=""></div>
        <div class="client-logo item "><img class="client-logo__img" src="../img/coffeeshop.png" alt=""></div>
        <div class="client-logo item"><img class="client-logo__img" src="../img/heineken.png" alt=""></div>
        <div class="client-logo item"><img class="client-logo__img" src="../img/rivgosh.png" alt=""></div>
        <div class="client-logo item"><img class="client-logo__img" src="../img/sochi.png" alt=""></div>
    </div>
</section>