
<section class="portfolio">
    <div class="section-header">
        <div class="section-header__title">
            Портфолио
        </div>
        <div class="section-header__hr"></div>
        <div class="section-header__img">
            <i class="fa fa-briefcase" aria-hidden="true"></i>
        </div>
        <div class="section-header__hr"></div>
    </div>
    <div class="wrapper">
        <div class="example-vertical ">
            <div class="example-vertical__img "><img src="img/portf1.jpg" alt=""></div>
            <div class="inner-wrap">
                <div class="example-vertical__date">20/08/2016</div>
                <div class="example-vertical__title">Ресторан Fumisawa Sushi</div>
                <div class="example-vertical__location">Москва, Петровка</div>
                <div class="example-vertical__description">Для ресторана Fumisawa Sushi мы изготовили летенее кафе
                    "Самолет" из трех секций, которые образуют просторную и элегантную террасу. Металлокаркас окрашен в
                    белый цвет
                </div>
            </div>
        </div>
        <div class="example-vertical ">
            <div class="example-vertical__img"><img src="img/portf2.jpg" alt=""></div>
            <div class="inner-wrap">
                <div class="example-vertical__date">20/08/2016</div>
                <div class="example-vertical__title">Бар Гадкий Койот</div>
                <div class="example-vertical__location">Москва, Столешников пер.</div>
                <div class="example-vertical__description">Главный атрибут экстерьера любого ресторана или кафе -
                    маркизы. Для бара "Гадкий койот" мы изготовили шесть прямых маркиз Calypso с нанесением печати на
                    ламбрекены.
                </div>
            </div>
        </div>
        <div class="example-vertical ">
            <div class="example-vertical__img"><img src="img/portf3.jpg" alt=""></div>
            <div class="inner-wrap">
                <div class="example-vertical__date">20/08/2016</div>
                <div class="example-vertical__title">Траттория Vенеция</div>
                <div class="example-vertical__location">Москва, Столешников пер.</div>
                <div class="example-vertical__description">Две прямые маркизы Calypso с ручным управлением, с окраской
                    локтей и кроншейнов в черный цвет, для Траттории Veнеция
                </div>
            </div>
        </div>
        <div class="example-horizontal ">
            <div class="example-horizontal__img"><img src="img/portf5.jpg" alt=""></div>
            <div class="inner-wrap">
                <div class="example-vertical__date">20/08/2016</div>
                <div class="example-vertical__title">Салон Chop-Chop</div>
                <div class="example-vertical__location">Москва, Никитинский бульвар</div>
                <div class="example-vertical__description">Лучший выбор для оформления входа - прямая маркиза Calypso.
                    Исключительно удачный цвет ткани подчеркивает элегантность салона, маркиза легко управляется и
                    прекрасно вполняет все возложенные функции.
                </div>
            </div>
        </div>
        <div class="view-more ">
            <a href="">Посмотреть <br/> другие работы</a>
        </div>
    </div>

</section>