<nav class="side-menu">
    <div class="side-menu-top">
        <div class="close"></div>
        <div class="logo">
            <a href="index.html">
                <img src="../img/logo.png" alt="">
            </a>
        </div>
        <div class="search">
            <form class="search-form" name="search__form">
                <div class="input-search">
                    <input type="text" class="input-search__item" name="ProductSearch" placeholder="Найти"
                           autocomplete="off">
                </div>
            </form>
        </div>
    </div>
    <div class="side-menu-items">
        <ul class="side-menu-items__full">
            <li class="side-menu-items__item "><a href="">Каталог </a></li>
            <li class="side-menu-items__item "><a href="">О компании </a></li>
            <li class="side-menu-items__item "><a href="">Услуги </a></li>
            <li class="side-menu-items__item "><a href="">Замер и монтаж</a></li>
            <li class="side-menu-items__item "><a href="">Контакты</a></li>
            <li class="side-menu-items__item "><a href="">Вход</a></li>
            <li class="side-menu-items__item portfolio "><a href="">Портфолио</a></li>
        </ul>
        <ul class="side-menu-items__catalog">
            <li class="side-menu-items__item "><a href="">Маркизы</a></li>
            <li class="side-menu-items__item "><a href="">Летние кафе</a></li>
            <li class="side-menu-items__item "><a href="">Тенты и конструкции</a></li>
            <li class="side-menu-items__item "><a href="">Аксессуары для маркиз</a></li>
            <li class="side-menu-items__item "><a href="">Коллекция тканей</a></li>
            <li class="side-menu-items__item portfolio "><a href="">Портфолио</a></li>
        </ul>

    </div>

</nav>