
<nav class="side-menu">
    <div class="side-menu-top">
        <div class="close"></div>
        <div class="logo">
            <a href="index.html">
                <img src="../img/logo.png" alt="">
            </a>
        </div>
        <div class="search">
            <form class="search-form" name="search__form" >
                <div class="input-search">
                    <input type="text" class="input-search__item" name="ProductSearch" placeholder="Найти" autocomplete="off">
                </div>
            </form>
        </div>
    </div>
    <ul class="side-menu-items">
        <li class="side-menu-items__item "><a href="">Маркизы</a></li>
        <li class="side-menu-items__item "><a href="">Летние кафе</a></li>
        <li class="side-menu-items__item " ><a href="">Тенты и конструкции</a></li>
        <li class="side-menu-items__item "><a href="">Аксессуары для маркиз</a></li>
        <li class="side-menu-items__item "><a href="">Коллекция тканей</a></li>
        <li class="side-menu-items__item __portfolio "><a href="">Портфолио</a></li>
    </ul>

</nav>