<nav class="side-menu">
    <div class="side-menu-top">
        <div class="close"></div>
        <div class="logo">
            <a href="index.html">
                <img class="logo__img" src="img/logo.png" alt="">
            </a>
        </div>
        <div class="search">
            <form class="search-form" name="search__form">
                <div class="input-search">
                    <input type="text" class="input-search__item" name="ProductSearch" placeholder="Найти"
                           autocomplete="off">
                </div>
            </form>
        </div>
    </div>


    <div class="side-menu-items">
        <ul class="side-menu-items__full">
            <li class="side-menu-items__item "><a href="">Каталог </a></li>
            <li class="side-menu-items__item "><a href="">О компании </a></li>
            <li class="side-menu-items__item "><a href="">Услуги </a></li>
            <li class="side-menu-items__item "><a href="">Замер и монтаж</a></li>
            <li class="side-menu-items__item "><a href="">Контакты</a></li>
            <li class="side-menu-items__item "><a href="">Вход</a></li>
            <li class="side-menu-items__item portfolio-link "><a href="">Портфолио</a></li>
        </ul>
        <ul class="side-menu-items__catalog">
            <li class="side-menu-items__item "><a href="#sub1">Маркизы</a></li>
            <li class="side-menu-items__item "><a href="#sub2">Летние кафе</a></li>
            <li class="side-menu-items__item "><a href="#sub3">Тенты и конструкции</a></li>
            <li class="side-menu-items__item "><a href="#sub4">Аксессуары для маркиз</a></li>
            <li class="side-menu-items__item "><a href="#sub5">Коллекция тканей</a></li>
            <li class="side-menu-items__item portfolio-link "><a href="">Портфолио</a></li>
        </ul>

    </div>

<div class="sub-menu-wrap">
    <div class="close"></div>

    <div class="sub-menu" id="sub1">
        <div class="sub-menu__header">
            <a href=""> Маркизы</a>
        </div>
        <ul class="markize">
            <li class="sub-menu__item">  <a href="">Маркизы1</a></li>
            <li class="sub-menu__item">  <a href="">Маркизы2</a></li>
            <li class="sub-menu__item">  <a href="">Маркизы3</a></li>
        </ul>
    </div>
    <div class="sub-menu" id="sub2">
        <div class="sub-menu__header">
            <a href=""> Летние кафе
        </div>
        <ul class="summer_cafe">
            <li class="sub-menu__item">  <a href="">Летние кафе1</a></li>
            <li class="sub-menu__item">  <a href="">Летние кафе2</a></li>
            <li class="sub-menu__item">  <a href="">Летние кафе3</a></li>
        </ul>
    </div>
    <div class="sub-menu" id="sub3">
        <div class="sub-menu__header">
            <a href="">Тенты и конструкции</a>
        </div>
        <ul class="awnings">
            <li class="sub-menu__item">  <a href="">Тенты и конструкции1</a></li>
            <li class="sub-menu__item">  <a href="">Тенты и конструкции2</a></li>
            <li class="sub-menu__item">  <a href="">Тенты и конструкции3</a></li>
        </ul>
    </div>

    <div class="sub-menu" id="sub4">
        <div class="sub-menu__header">
            <a href=""> Аксессуары для маркиз</a>
        </div>
        <ul class="accessories">
            <li class="sub-menu__item">  <a href="">Аксессуары для маркиз1</a></li>
            <li class="sub-menu__item">  <a href="">Аксессуары для маркиз2</a></li>
            <li class="sub-menu__item">  <a href="">Аксессуары для маркиз3</a></li>
        </ul>
    </div>

    <div class="sub-menu" id="sub5">
        <div class="sub-menu__header">
            <a href="">Коллекция тканей</a>
        </div>
        <ul class="cloth_collection">
            <li class="sub-menu__item">  <a href="">Коллекция тканей</a></li>
            <li class="sub-menu__item">  <a href="">Коллекция тканей</a></li>
            <li class="sub-menu__item">  <a href="">Коллекция тканей</a></li>
        </ul>
    </div>

</div>
</nav>
